/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-may-2015, 13:34:15
    Author     : Maxi
*/
/*
.container {

    margin: 0 auto;
    padding-top: 5px;
    margin-top: 5px;
    float: left;
    margin-left: 33%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: #666 0px 2px 3px;
    background: #F5F5F5;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
}
*/
#tagBox{
    height: 100px;
    background-color: rgb(242, 242, 242);
    margin: 0 15px;
    border-top: 1px solid rgb(231, 231, 231);
}
#tagBox span{
    float: right;
    color: rgb(38, 77, 199);
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
.littleTag{
    margin: 5px;
    background-color: rgb(66, 124, 231);
    color: white;
    padding: 3px 10px;
}
#tagResults{
    display: none;
    padding: 0 0;
    height: auto;
    position: absolute;
    width: 100%;
    left: 0px;
    background-color: white;
    z-index: 100;
    margin-top: -20px;
    border-top: 2px solid rgb(66, 124, 231);
}
#tagResults p{
    margin: 2px;
    padding: 5px;
}
#tagResults p:hover{
    background: red;  background: rgb(221, 221, 221);
    color: black;
    cursor: pointer;
}
.ui-datepicker-trigger{
    position: relative;
    top: -30px;
    float: right;
    left: -10px;
}
.form-group .error{
    font-size: 11px;
    padding: 5px;
    color: red;
}
.circular1 img {
    opacity: 1;
    filter: alpha(opacity=1);min-height: 100px;
    min-width: 100px;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}
.circular1 {
    overflow: hidden;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    opacity: 1;
}
#profile-nav ul{
    width: 400px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    color: rgb(194, 194, 194);
    font-size: 16px;   

}
#profile-nav ul li{
    display: inline;
    padding: 10px;
    line-height: 40px;  padding: 10px 35px;

}
#profile-nav ul li:hover a,#profile-nav ul li.active a{
    color: rgb(53, 53, 53);font-weight: bold;
}
#profile-nav ul li a{
    color: rgb(128, 128, 128);text-decoration: none;

}
#profile-nav ul li:hover,#profile-nav ul li.active{
    border-bottom: 3px solid rgb(207, 93, 93);
    padding-bottom: 7px;
    color: white;
    cursor: pointer;

}


.well-blue{
    border-top: 1px solid #76a7fa;
    -webkit-box-shadow: inset 0 2px 0 #76a7fa;
    box-shadow: inset 0 2px 0 #76a7fa;
}
.well-red{
    border-top: 1px solid #e46f61;
    -webkit-box-shadow: inset 0 2px 0 #e46f61;
    box-shadow: inset 0 2px 0 #e46f61;
}
.well-green{
    border-top: 1px solid #53a93f;
    -webkit-box-shadow: inset 0 2px 0 #53a93f;
    box-shadow: inset 0 2px 0 #53a93f;
}
.well-violet{
    border-top: 1px solid #bc5679;
    -webkit-box-shadow: inset 0 2px 0 #bc5679;
    box-shadow: inset 0 2px 0 #bc5679;
}
.well-yellow{
    border-top: 1px solid #fbcb43;
    -webkit-box-shadow: inset 0 2px 0 #fbcb43;
    box-shadow: inset 0 2px 0 #fbcb43;
}
.well-turq{
    border-top: 1px solid #4dbfd9;
    -webkit-box-shadow: inset 0 2px 0 #4dbfd9;
    box-shadow: inset 0 2px 0 #4dbfd9;
}
body{
    background-color: #e5e5e5;
}
.well,well-lg{
    border-radius: 0px; 
}
.circular1:hover #cam{
    display:block;
}
#cam{
    display: none;
    height: 50px;
    width: 60px;
    background-image: url('http://localhost/YouTuve/css/images/camera-icon.png');
    position: absolute;
    top: 80px;
    left: 140px;
    background-size: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
}
@font-face {
    font-family: 'MyWebFont';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}